<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <display-name>CA107G2_Di</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDBCA107G2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>Renting_House_Information_Servlet</servlet-name>
    <servlet-class>com.renting_house_information.controller.Renting_House_Information_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Renting_House_Information_Servlet</servlet-name>
    <url-pattern>/RentingHouseInformation/rhi.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader1</servlet-name>
    <servlet-class>com.renting_house_information.controller.DBGifReader1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader1</servlet-name>
    <url-pattern>/RentingHouseInformation/DBGifReader1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader2</servlet-name>
    <servlet-class>com.renting_house_information.controller.DBGifReader2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader2</servlet-name>
    <url-pattern>/RentingHouseInformation/DBGifReader2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader3</servlet-name>
    <servlet-class>com.renting_house_information.controller.DBGifReader3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader3</servlet-name>
    <url-pattern>/RentingHouseInformation/DBGifReader3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader4</servlet-name>
    <servlet-class>com.renting_house_information.controller.DBGifReader4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader4</servlet-name>
    <url-pattern>/RentingHouseInformation/DBGifReader4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader5</servlet-name>
    <servlet-class>com.renting_house_information.controller.DBGifReader5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader5</servlet-name>
    <url-pattern>/RentingHouseInformation/DBGifReader5</url-pattern>
  </servlet-mapping>
</web-app>